.ipynb_checkpoints/
Weights/
tensorboard/
Results/
__pycache__/
LBP_features_2/
LBP_features/
image_emotion_casme/
image_crossdb_te/
image/
External-Tools/
*.png
*.h5
*.dat	
shape_predictor_68_face_landmarks.dat
core
.vscode/settings.json
